/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-introduction-block {
	// 共通スタイル
	font-family: "Noto Serif JP", serif;
	font-weight: 400;
	color: #222222;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
	text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;

	/* PC用フォントサイズ */
	@media screen and (min-width: 769px) {
		/* 基準のフォントサイズ */
		font-size: 14px;

		.introduction h2 {
		font-size: clamp(1.8rem, 2vw, 2.6rem);
		}

		.introduction h4 {
			font-size: clamp(1rem, 1.5vw, 1.3rem);
		}
	}


	/* スマホ用フォントサイズ */
	@media screen and (max-width: 768px) {
		/* 基準のフォントサイズ */
		font-size: 14px;

		.introduction h2 {
		font-size: 1.2rem;
		}

		.introduction h4 {
		font-size: 1rem;
		}
	}


	/* PC用 */
	@media screen and (min-width: 769px) {
		.introduction {
		width: 100%;
		height: 80%;
		margin: 100px 0;
		display: flex;
		align-items: center;
		justify-content: center;
		}

		.introduction_text {
		max-width: 40%;
		min-width: 20%;
		margin-right: 50px;
		line-height: 2;
		}

		.introduction_title {
		display: flex;
		align-items: center;
		margin-bottom: 20px;
		border-bottom: 1px solid #222222;
		}

		.introduction_icon {
		height: clamp(2.3vw, 2.3vw, 2.6rem);
		width: clamp(2.3vw, 2.3vw, 2.6rem);
		margin-right: 1rem;
		}

		.introduction_h4 {
		margin-bottom: 1rem;
		}


		.introduction span {
		margin-right: 0.4rem!important;
		}

		.introduction_img {
		height: 50vh;
		width: auto;
		}

		.introduction_subtext {
		display: flex;
		border: 1px solid #bbbbbb;
		border-radius: 10px;
		padding: 0.5rem 1rem;
		margin-top: 5rem;
		color: #838383;
		font-size: 1.1rem;
		}
	}

	/* スマートフォン用 */
	@media screen and (max-width: 768px) {
		.introduction {
		width: 90%;
		display: flex;
		flex-direction: column;
		margin: 5%;
		margin-top: 2rem;
		}

		.introduction_text {
		line-height: 2;
		width: 100%;
		}

		.introduction_title {
		display: flex;
		align-items: center;
		margin-bottom: 15px;
		border-bottom: 1px solid #222222;
		}

		.introduction_icon {
		height: 1.6rem;
		width: 1.6rem;
		margin-right: 1rem;
		}

		.introduction_h4 {
		margin-bottom: 0.2rem;
		}

		.introduction span {
		margin-right: 0.4rem!important;
		}

		.introduction_img {
		height: auto;
		width: 100%;
		}

		.introduction_subtext {
		display: flex;
		border: 1px solid #bbbbbb;
		border-radius: 10px;
		padding: 0.5rem 1rem;
		margin: 1rem 0;
		color: #838383;
		font-size: 1.1rem;
		}
	}
}